{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block titulo %}
    <title>Modelo</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head><style> .progressao {background-color: grey;}</style></head>

<body>

    {% block menu %}
    <div class="progressao">
        Código do meu menu
    </div>
    {% endblock %}

    {% block destaque %}
    <div class="bg-secondary">
        Figuras de destaque
    </div>
    {% endblock %}

    {% block conteudo %}
        <div class="contaneir">
            <h3>Template de Modelo</h3>

            <p>conteúdo do site</p>
    </div>
    {% endblock %}

    {% block rodape %}
    <div class="bg-light">
        Rodapé
    </div>
    {% endblock %}

   

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
